<%= render 'shared/page_title', title: @recipe.name%>

<div class="well col-md-8 col-md-offset-2">
    <h4 class="center description"> <strong> Steps: </strong></h4>
    <hr/>
    <strong><%= @recipe.name %></strong>
<%= simple_format(@recipe.description) %>
<div class="pull-left btn"> 

<% if logged_in? && (current_chef == @recipe.chef || current_chef.admin? ) %>
<%= link_to "Edit recipe", edit_recipe_path(@recipe), class: "btn btn-sx-btn-warning"%> 
<%= link_to "Delete recipe", recipe_path(@recipe), method: :delete,
                                        data: {confirm: "are you sure?"},
                                        class: "btn btn-sx-btn-danger" %>
<% end %>
<%= link_to "Go back to Recipes list", recipes_path %>


</div>

<hr />

<div class="pull-right">

<p class="center">

<em>created by:</em>
<%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
</p>
<p class="center">
<small><%= @recipe.chef.chefname%></small>
    
    <div class="pull-right">created: <%= time_ago_in_words(@recipe.created_at) %> ago</div>
</div>
</p>
</div>






